node_modules/
week-II/cluster-setup-vagrant/.vagrant/
week-III-monitoring/admin-password
week-III-monitoring/admin-user
lego-blocks/admin-password
lego-blocks/admin-user
study-sessions/week-2/__pycache__/app.cpython-38.pyc
