<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Manager</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
  <div class="container mt-5">

       <h1>Welcome to the Task Manager!</h1>
        <h4>What do you want to do today?</h4>
        <p>This is an open-source four-tier microservices app designed by Gulcan Topcu for practicing Kubernetes exams and DevOps projects. </p>
        <p>The backend is written in Python, the frontend in Go, mock notification service in Rust and MySQL for the database. Feel free to use and modify the code for your projects.</p>
  
        <form id="taskForm" action="/tasks" method="post">
          <div class="form-group">
            <label for="taskName">Add a task name:</label>
            <input type="text" class="form-control" id="taskName" name="taskName">
          </div>
          <button type="submit" class="btn btn-primary" id="addTaskBtn">Add Task</button>
          <button type="button" class="btn btn-secondary" id="getNotificationBtn">Get Notification</button>

        </form>
        <div class="row">
            <div class="col-md-6">
        <div id="taskList" class="mt-3"> 
          {{range .Tasks}} 
            <div class="card mb-2"> 
              <div class="card-body">
                <div class="row">
                  <div class="col-8"> 
                    {{.TaskName}} 
                  </div>
                  <div class="col-4 text-right"> 
                    <a href="/tasks/edit/{{.ID}}" class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i> Edit</a> 
                    <a href="/tasks/delete/{{.ID}}" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i> Delete</a> 
                  </div>
                </div>
              </div>
            </div> 
          {{end}}
        </div>
      </div>
      <div class="col-md-6">
        <div class="image-container small-image">
        <img src="/styles/k.png" alt="Image" class="img-fluid">
      </div>
    </div>
    </div>
  </div>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
  $(document).ready(function() {
    $("#taskForm").submit(function(event) {
      var taskName = $("#taskName").val();
      if (!taskName.trim()) {
        alert("Task name cannot be empty");
        event.preventDefault(); // Prevent form submission
      }
    });
    $(document).ready(function() {
    $("#getNotificationBtn").click(function () {
      window.location.href = "/notification";
    });
  });

  });

  </script>
</body>
</html>
